@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 3px;
  padding: 0;
}

html {
  --primary-color: #0065fc;
  --secondary-color: #F2F2F2;
  --link: black;
  --white: white;
  --gray: rgb(78, 77, 77);
  --section-border: #dfdede;
  --shadow: rgba(0, 0, 0, 0.1);
}

body,
h1,
p {
  font-family: 'Raleway', sans-serif;
  font: bold;
}

h2 {
  color: black;
}

h3 {
  font-size: small;
  color: darkgray;
  font-weight: lighter;
}

/*--------- navigation ------------*/

header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

header img {
  display: block;
  margin-left: 50px;
}

header nav {
  margin-top: 15px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header ul li {
  margin-right: 40px;
}

header .border_blue {
  padding: 36px;
}

header .border_blue:hover {
  border-top: solid 3px var(--primary-color);
  color: var(--primary-color);
}

/*--------- navigation ------------*/

#iconSearch {
  color: blue;
  background-color: #F2F2F2;
  padding: 0.5%;
  border-radius: 10px 0 0 10px;
}

.filtre {
  color: blue;
  background-color: #F2F2F2;
  padding: 0.5%;
  border-radius: 20px;
}

#guitare {
  background-color: #F2F2F2;
  display: inline-block;
  width: 70%;
  border-radius: 20px;
}
#populaire {
  background-color: #F2F2F2;
  display: inline-block;
  width: 30%;
  border-radius: 20px;
}
#électrique{
  display: flex;
  
  
}
img {
  width: 300px;
  height: 150px;
  border-radius: 20px;
}
