@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 3px;
  padding: 0;
}

html {
  --primary-color: #0065fc;
  --secondary-color: #F2F2F2;
  --link: black;
  --white: white;

  --shadow: rgba(0, 0, 0, 0.1);
}

body,
h1,
p {
  font-family: 'Raleway', sans-serif;
  font: bold;
}

h2{
  color: black;
  font-size: 15px;
}

h3 {
  font-size:small;
  color:darkgray;
  font-weight: lighter;
}

/*--------- navigation ------------*/

header {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

header img {
  display: block;
  margin-left: 50px;
}

header nav {
  margin-top: 15px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
}

header ul li {
  margin-right: 40px;
}

header .border_blue {
  padding: 36px;
}


/*--------- recherche ------------*/
#Recherche{
  font-family: 'Raleway', sans-serif;
  font: 10px;
}

div {
  margin-top: 2%;
}

#searchButton {
  background-color:#0065fc;
  color: white;
  padding: 7px;
  border: 0px;
  border-radius:  0 10px 10px 0;
  margin-left: -2%;
}

input {
  background-color: white;
  padding: 6px;
  padding-left: 10px;
  padding-right: 0px;
  border-width: 1px;
  border-color: lightgrey;
  margin-left: 1%;
  margin-left: -0.5%;
  border-left: 0px;
}

#iconSearch {
  color:blue;
  background-color: #F2F2F2;
  padding: 8px;
  border-radius: 10px 0 0 10px;

}

.filtre {
  color:blue;
  background-color: #F2F2F2;
  padding: 8px;
  border-radius: 20px;
  z-index: 1;
  position: absolute; 
}

#Filtres {
  display: inline;
}

button {
  background-color: white;
  padding: 6px;
  padding-left: 37px;
  padding-right: 10px;
  border-radius: 15px;
  border-width: 1px;
  border-color: #dfdede;
  font-weight: bolder;

}

#info{
  display: flex;
  flex-direction: row;
}
/*--------- section produits------------*/

#lesGuitares {
  padding-top: 3%;
  background-color: #F2F2F2;
  display: inline-block;
  width: 69%;
  border-radius: 10px;

}
#lesGuitares>h2{
  padding-left: 2%;
}
#guitare{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#lesPopulaires {
  padding-top: 3%;
  background-color: #F2F2F2;
  display: inline-block;
  width: 29%;
  border-radius: 10px;
}

#électrique {
  margin-top: 3%;
  display: flex;
  width: 100%; 
  justify-content: space-between;
  height: 550px;
}

#lesProduitsMatériel{
  background-color: chartreuse;
  margin-top: 2%;
}


/*--------- section électrique ------------*/
.styleGuitare {
  background-color: white;
  border-radius:  10px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.styleGuitare :first-child{
  width: 90%;
}

.stars {
  display:flex;
  flex-direction: row-reverse;
}

.styleGuitare > p{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.styleGuitare :nth-child(2) {
  font-weight: bold;
}

/*--------- section populaire ------------*/
#populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
.stylePop{
  background-color: white;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  height: 130px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.stylePop :first-child{
  height: 90%;
}
.stylePop>div{
  display: flex;
  flex-direction: column;
}
.infoPop > p{ 
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.infoPop > p:first-child{ 
  font-weight: bold;
  height: 30%
}

/*--------- section matériel ------------*/
#matériel {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.studio {
  border-radius: 5%;
  border-right: #dfdede solid 3px;
  border-bottom: #dfdede solid 3px;
  background-color: white;
}